<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="userDAO" class="org.alwyn.minispring.bean.UserDAO"/>

    <bean id="userService" class="org.alwyn.minispring.bean.factory.bean.UserService"/>
        <property name="uID" value="100"/>
        <property name="userDAO" ref="userDAO"/>
    <bean/>
</beans>