<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="userDAO" class="org.alwyn.minispring.bean.UserDAO"/>

    <bean id="userService" class="org.alwyn.minispring.bean.UserService">
        <property name="userID" value="100"/>
        <property name="userName" value="Alwyn"/>
        <property name="location" value="China"/>
        <property name="userDAO" ref="userDAO"/>
    </bean>

    <bean class="org.alwyn.minispring.processor.TestBeanPostProcessor"/>
    <bean class="org.alwyn.minispring.processor.TestBeanFactoryPostProcessor"/>

</beans>